.contentWrapper {
  padding-top: 40px;
}

.contentWrapper .ourStory {
  margin-bottom: 30;
}
.content-wrapper .our-causes {
  padding-top: 0;
}
.content-wrapper .section-header {
  margin-top: 0;
}

.our-story .img-slider .slick-prev {
  left: 11px;
}
.our-story .img-slider .slick-next {
  right: 11px;
}
.our-story .img-slider .slick-prev,
.our-story .img-slider .slick-next,
.gallery .img-slider .slick-prev,
.gallery .img-slider .slick-next {
  -moz-transform: scale(0.45);
  -webkit-transform: scale(0.45);
  -o-transform: scale(0.45);
  -ms-transform: scale(0.45);
  transform: scale(0.45);
}
.our-story blockquote {
  border: 0;
  padding: 0;
  font-size: 24px;
  color: #727272;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 28px;
}
.our-story p {
  margin-bottom: 28px;
}
.story-heading h2 {
  margin-top: 15px;
}
